# Do not hash the values in known hosts, as this make it human unreadable
HashKnownHosts no

Host *.sblokalnet
  #Forward agent so you can ssh further
  ForwardAgent yes
  #Use Kerberos
  GSSAPIDelegateCredentials yes
  GSSAPITrustDns yes
  GSSAPIAuthentication yes
  #Local user if nothing else is specified
  user $USER

#Ovirt hosts that are NOT freeIPA controlled
Host kac-man-* kac-adm-002 kac-psql-001 kac-sto-*
  #Canonalise hostname to load the settings for *.sblokalnet
  CanonicalizeHostname yes
  #Use the kac.sblokalnet network that is only reachable from inside KB
  CanonicalDomains kac.sblokalnet
  CanonicalizeFallbackLocal yes
  #Do not use kerberos auth as they are not in freeIPA
  GSSAPIAuthentication no

Host kac-*
  #Canonalise hostname to load the settings for *.sblokalnet
  CanonicalizeHostname yes
  #kach.sblokalnet is only available through the VPN connection. Use it for all freeipa machines
  CanonicalDomains kach.sblokalnet
  CanonicalizeFallbackLocal yes
  #All other kac machines ARE in freeipa, so use kerberos
  GSSAPIAuthentication yes


Host roda0* gara0* guro0* mora0* admn0* file0* gway0* bind0* fipa0* rlog0* ovim0* ovis0* elog0* nfsg0* hdfs0* zkpr0* hbse0* hive0* psql0* abri0* yarn0* hist0* ozie0* metr0* rngr0* solr0* fipa0* proj0*
  CanonicalizeHostname yes
  CanonicalDomains yak2.net
  CanonicalizeFallbackLocal yes



#All on statsbiblioteket through wonky
#http://serverfault.com/a/775764
Host *.sb
  ForwardAgent yes
  Compression yes
  ProxyCommand ssh -A -o Compression=no abr@wonky.statsbiblioteket.dk nc $(echo %h | sed 's/\(.\)\..*/\1/') %p



#Digitv hosts
Host digitv-devel
  Compression yes
  ForwardAgent yes
  User digitv
  ProxyCommand ssh -A -o Compression=no abr@wonky.statsbiblioteket.dk nc digitv-devel 22

Host digitv-stage
  Compression yes
  ForwardAgent yes
  User develro
  ProxyCommand ssh -A -o Compression=no abr@wonky.statsbiblioteket.dk nc digitv-stage 22

Host digitv-prod
  Compression yes
  ForwardAgent yes
  User develro
  ProxyCommand ssh -A -o Compression=no abr@wonky.statsbiblioteket.dk nc digitv-prod 22


Host kb-test-bar-*
  CanonicalDomains bitarkiv.kb.dk
  CanonicalizeHostname always
  ForwardAgent yes
  HostKeyAlgorithms +ssh-dss
  ProxyCommand ssh -A -q -x devel@kb-prod-udv-001.kb.dk -W %h:22

Host kb-stag-bit-001.bitarkiv
  ProxyCommand sshpass -pbadevel123 ssh -o PreferredAuthentications=password -o PubkeyAuthentication=no -l ba-devel %h.kbh


Host *.kbh
  ForwardAgent yes
  Compression yes
  HostkeyAlgorithms +ssh-dss
  ProxyCommand ssh -oProxyCommand=none -W $(echo "%h" | sed 's/\.kbh$/.kb.dk:22/') -o Compression=no  devel@kb-prod-udv-001.kb.dk

#This should be last, to ensure it does not override other settings, as the first hit wins
Host *
    ServerAliveInterval 240
    #Do not use kerberos per default, as this gives delays when not on the KAC vpn (as the freeIPA server cannot be reached)
    GSSAPIAuthentication no
